body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/Flag.jpg");
    background-size: cover;
    font-weight: bold;
    font-size: 150%;
    color: rgb(247, 238, 238);
    text-align: center;
    min-width: 400px;
}

button {
    background: #30b095;
    color: white;
    padding: 10px 20px;
    border: 1px solid #ffd387;
    font-weight: bold;
    margin-bottom: 5%;
}

#Header {
    margin-top: 7%;
    font-size: 200%;
}

#funni_quote {
    color: #fe2807;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#paper-btn {
    background: #0055A4;
    color: #5f9341;
    margin-right: 20px;
}
#scissors-btn {
    background: white;
    padding: 10px 24px;
    color: #5f9341;
}
#stone-btn {
    background: #EF4135;
    color: #5f9341;
    margin-left: 20px;
}

#versus-el {
    margin-top: 30;
    text-align: center;
}

#versus-el-player {
    display: inline-block;
    color: #ca0f0f;
    vertical-align: middle;
    margin-right: 20px;
}

#versus-el-bot {
    display: inline-block;
    color: #051298;
    vertical-align: middle;
}